.events {
  margin: 3rem auto;
  text-align: center;
}

.events {
  margin-top: 1.5rem;
}

.toggle button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #38015c;
  color: white;
  border: 1px solid #38015c;
}

.toggle button:hover {
  background-color: #540d83;
  border-color: #540d83;
}
